package {{.PackageName}}

{{if .HasImports}}
import (
{{- range .OtherImports}}
	"{{.}}"
{{- end}}
{{if and .CommonImports .OtherImports}}
{{end}}
{{- range .CommonImports}}
	"{{.}}"
{{- end}}
)
{{end}}

type Output = {{.AliasType}}
