package {{.PackageName}}

import (
	"net/http"

	"{{.RequestImport}}"
)

{{if .Static}}
var Request = request.CreateStatic[{{.OutputType}}](
	{{.MethodConst}},
	{{.PathLiteral}},
	{{if .HasRequiredScopes}}request.WithRequiredScope({{.RequiredScopesLiteral}}),
{{end}})
{{else}}
var Request = request.Create[Input, {{.OutputType}}](
	{{.MethodConst}},
	{{.PathLiteral}},
	{{if .HasRequiredScopes}}request.WithRequiredScope({{.RequiredScopesLiteral}}),
{{end}})
{{end}}
